.appointment-form {
    max-width: 340px;   
    margin: 0 auto;
    padding: 30px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
    color: #333;
  }
  
  .form-group {
    margin-top:20px;
    margin-bottom: 20px;
  }
  
  .form-group #reason{   
    border-radius: 5px;
    width:240px;
  }
  .form-group #doctor{
    border-radius: 5px;
    width:220px;
    height:25px;
  }
  .PatientView .form-group #facility{
      border-radius:5px;
      width:220px;
      height:25px;
  }

 .appointment-form #timeSlot{
  border-radius:5px;
  width:220px;
  height:25px;

 }
  
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
    color: #444;
  }
  
  .form-control {
    width: calc(100% - 22px);
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: border-color 0.3s;
  }
  
  .form-control:focus {
    border-color: #4CAF50;
    outline: none;
  }
  
  textarea.form-control {
    height: 40px; /* Match the height of other inputs */
    resize: vertical;
    min-height: 40px; /* Set a minimum height */
    max-height: 120px; /* Set a maximum height */
  }
  
  .btn {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  .btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .date-picker-wrapper {
    width: 100%;
  }
  